@import '../../../styles/variable';


.contain{
    background-color: transparent;
    border: 1px map-get($textColors, white ) solid;
    border-radius: 6px;
    padding: .3rem;
    option{
        background-color: $backgroundColor;
        border: 1px map-get($textColors, white ) solid;
        border-radius: 6px;
        padding: .3rem;
    }
}