.contain {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  margin-left: 1rem;
  padding: 1rem; 
  top: 0;
  left: 0; 
  width: 130px; 
  position: sticky;  
  .containPublication {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .containerRedirection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center; 
    align-items: center; 
    flex-grow: 1; 
  }

  p {
    margin-bottom: 1rem;
  }
}
  