// variables.scss
$backgroundColor: #1E1E2F; // Define la variable SCSS

$textColors: (
  skyBlue: #0794A6,
  green: #00C955,
  white: #EDEDED,
);


$fontSize : (
  small : 16px,
  medium : 20px,
  large : 32px
)
