@import '../../../styles/variable';

.contain {
  position: relative;
  width: fit-content;
  .input {
    background-color: transparent;
    border: 1px solid $whiteOpaque;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    min-width: 250px;

    &:focus {
      outline: none;
      border-color: map-get($textColors, white);
    }
  }

  &:focus-within .iconSearch {
    fill: map-get($textColors, white);
  }
  .iconSearch {
    position: absolute;
    z-index: 1;
    width: 15px;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    fill: $whiteOpaque;
  }
}
